.category-page-wrap {
    width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

/* 왼쪽 카테고리 전체 박스 */
.left-category-box {
    width: 220px;
    flex-shrink: 0;
    padding: 10px 0;
    border-right: 1px solid #eee;
}

/* 전체 링크 */
.all-category-link {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: #111;
    text-decoration: none;
}

.all-category-link:hover {
    font-weight: 700;
}

/* 대분류 묶음 */
.category-group {
    border-bottom: 1px solid #e5e5e5;
}

/* 대분류 버튼 */
.category-title-btn {
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 0;

    font-size: 20px;
    font-weight: 700;
    color: #111;
    text-align: left;
}

/* 화살표 */
.category-title-btn span {
    font-size: 18px;
    transition: 0.2s;
}

/* 소분류 */
.sub-category {
    display: none;
    padding: 0 0 12px 10px;
}

.sub-category a {
    display: block;
    padding: 8px 0;
    font-size: 15px;
    color: #333;
    text-decoration: none;
}

.sub-category a:hover {
    color: #ff7a00;
    font-weight: 700;
}

/* 열렸을 때 */
.category-group.open .sub-category {
    display: block;
}

.category-group.open .category-title-btn span {
    transform: rotate(180deg);
}

/* 오른쪽 상품 영역 */
.category-product-area {
    flex: 1;
}

.category-product-area h2 {
    margin-bottom: 25px;
    font-size: 26px;
}

/* 상품 목록 */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.product-card {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 15px;
    background: #fff;
}

.product-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    margin-top: 12px;
}

.product-name a {
    color: #111;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.price {
    font-size: 17px;
    font-weight: 700;
}

.origin-price {
    color: gray;
    text-decoration: line-through;
    margin-bottom: 4px;
}

.sale-price {
    font-size: 17px;
    font-weight: 700;
}

.sale-price strong {
    color: #e74c3c;
    margin-right: 6px;
}

.delivery-text {
    font-size: 13px;
    color: #777;
}

/* 마우스 올리면 전체 링크 주황색 */
.all-category-link:hover {
    color: #ff6f4f;
    font-weight: 700;
}

/* 마우스 올리면 대분류 글씨 주황색 */
.category-title-btn:hover {
    color: #ff6f4f;
}

/* 마우스 올리면 대분류 화살표도 주황색 */
.category-title-btn:hover span {
    color: #ff6f4f;
}

/* 마우스 올리면 소분류 글씨 주황색 */
.sub-category a:hover {
    color: #ff6f4f;
    font-weight: 700;
}

/* 상품명도 마우스 올리면 주황색 */
.product-name a:hover {
    color: #ff6f4f;
}

.category-title-btn:hover {
    color: #ff7a00;
}

/* 페이징 */
.page-menu {
    margin-top: 40px;
    text-align: center;
}