<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.suje.dao.ProductDAO">
	
    <!-- 상품 목록 조회 -->
    <select id="product_list" parameterType="map" resultType="product">
        select *
        from products
        where status = 'APPROVED'
        limit #{start}, #{blockList}
    </select>

    <!-- 상품 상세 조회 -->
    <select id="product_one" parameterType="int" resultType="product">
        select *
        from products
        where product_id = #{product_id}
    </select>

    <!-- 판매자 상품 등록 -->
    <insert id="seller_product_insert" parameterType="product">
        insert into products (
            seller_id,
            category_id,
            name,
            description,
            price,
            sale_price,
            stock,
            delivery_fee,
            free_shipping,
            status,
            image_l,
            image_s
        )
        values (
            #{seller_id},
            #{category_id},
            #{name},
            #{description},
            #{price},
            #{sale_price},
            #{stock},
            #{delivery_fee},
            #{free_shipping},
            'PENDING',
            #{image_l},
            #{image_s}
        )
    </insert>
		
    <!-- 판매자 상품 수정 -->
    <update id="seller_product_modify" parameterType="product">
        update products
        set
            category_id = #{category_id},
            name = #{name},
            description = #{description},
            price = #{price},
            sale_price = #{sale_price},
            stock = #{stock},
            delivery_fee = #{delivery_fee},
            free_shipping = #{free_shipping},
            status = #{status},
            image_l = #{image_l},
            image_s = #{image_s},
            updated_at = CURRENT_TIMESTAMP
        where product_id = #{product_id}
    </update>

    <!-- 승인된 상품 개수 -->
    <select id="product_cnt" resultType="int">
        select count(*)
        from products
        where status = 'APPROVED'
    </select>

    <!-- 판매자 내 상품 목록-->
    <select id="seller_product_list" parameterType="int" resultType="product">
        select * from products
        where seller_id = #{value}
    </select>

</mapper>